@import url('bootstrap');
@import url('bootstrap-icons');


body {
  font-family: 'Raleway Variable', sans-serif;
}

nav > a.active{
  border-radius: 5px;
  color: black;
  background-color: rgb(150, 185, 230);
}